.form-horizontal {

  // Consistent vertical alignment of radios and checkboxes
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline {
    padding-top: 0;
  }

  .radio {
    margin-bottom: 10px;
  }

  label {
    text-align: right;
  }

  label.control-label {
    margin: 0;
  }
}

.form-newsletter{
    .input-group,
    .form-group{
        float: left;
        width: 78%;
        margin-right: 2%;
        margin-top: 9px;
    }

    .btn{
        float: left;
        width: 20%;
        margin: 9px 0 0;
    }
}
