<!DOCTYPE html>
<html>
  <head>
    <title>Oghma | Character Creator</title>
    <meta charset="utf-8">

    <link href='https://fonts.googleapis.com/css?family=Creepster' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
    <link rel="stylesheet" href="css/output.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="js/app.js"></script>

    <style>
      #class_image{
        width: 255px;
        height: auto;
      }
    </style>
  </head>

  <!-- <body style="font-family: 'Creepster'" ng-app="creatorApp" ng-controller="CharacterCtrl as ChCtrl"> -->
  <body ng-app="creatorApp" ng-controller="CharacterCtrl as ChCtrl">
    <div class="wrapper">
      <div class="sidebar" style="background-attachment: fixed; background-image:url(test.jpg);">
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li>
              <a href="dashboard.html">
                <i class="material-icons">dashboard</i>
                <p style="color:white;">Dashboard</p>
              </a>
            </li>
            <li>
              <a href="index.html">
                <i class="material-icons">person_add</i>
                <p style="color: white;">Create Character</p>
              </a>
            </li>
            <li>
              <a href="create.html">
                <i class="material-icons">build</i>
                <p style="color: white;">Edit {{activeCharacter.name}}</p>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="main-panel" style="background-attachment: fixed; background-image: url(test.jpg);">
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div ng-if="activeCharacter.class.class" class="col-lg-3 col-md-3">
                <img id="class_image" ng-src="image/{{activeCharacter.class.class}}.jpg" alt="activeCharacter.class.class">
              </div>
              <div ng-if="!activeCharacter.class.class" class="col-lg-3 col-md-3">
                <img id="class_image" ng-src="image/person.jpg" alt="activeCharacter.class.class">
              </div>
              <div class="col-lg-9 col-md-9">
                <div class="card">
                  <div class="card-header" style="background-color: firebrick">
                    General Info
                  </div>
                  <div class="card-content">
                    <div class="col-lg-2 col-md-4">{{activeCharacter.class.class}}</div>
                    <div class="col-lg-2 col-md-4">{{activeCharacter.basic.level}}</div>
                    <div class="col-lg-2 col-md-4">{{activeCharacter.basic.background}}</div>
                    <div class="col-lg-2 col-md-4">{{activeCharacter.name}}</div>
                    <div class="col-lg-2 col-md-4">{{activeCharacter.race.race}}</div>
                    <div class="col-lg-2 col-md-4">{{activeCharacter.basic.alignment}}</div>
                    <div class="col-lg-2 col-md-4">{{activeCharacter.xp}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Attributes & Skills -->
              <div class="col-lg-4 col-md-4">
                <!-- Attributes -->
                <div class="col-lg-5 col-md-5">
                  <div class="card">
                    <div class="card-content text-center">
                      <div>
                        Strength: {{activeCharacter.basic.attributes.strength}}
                        <br />
                        mod: {{activeCharacter.basic.mods[0]}}
                      </div>
                      <hr />
                      <div>
                        Dexterity: {{activeCharacter.basic.attributes.dexterity}}
                        <br />
                        mod: {{activeCharacter.basic.mods[1]}}
                      </div>
                      <hr />
                      <div>
                        Constitution: {{activeCharacter.basic.attributes.constitution}}
                        <br />
                        mod: {{activeCharacter.basic.mods[2]}}
                      </div>
                      <hr />
                      <div>
                        Intelligence: {{activeCharacter.basic.attributes.intelligence}}
                        <br />
                        mod: {{activeCharacter.basic.mods[3]}}
                      </div>
                      <hr />
                      <div>
                        Wisdom: {{activeCharacter.basic.attributes.wisdom}}
                        <br />
                        mod: {{activeCharacter.basic.mods[4]}}
                      </div>
                      <hr />
                      <div>
                        Charisma: {{activeCharacter.basic.attributes.charisma}}
                        <br />
                        mod: {{activeCharacter.basic.mods[5]}}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Skills -->
                <div class="col-lg-6 col-md-6">
                  <div class="card">
                    <div class="card-content">
                      Inspiration:
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-content">
                      Proficiency Bonus
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-content">
                      Saving Throws
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-content">
                      <div ng-repeat="skill in ChCtrl.skills track by $index">{{skill}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Life Info -->
              <div class="col-lg-4 col-md-4">
                <div class="card">
                  <div class="card-content">
                    <!-- Armor and initiative need here as well -->
                    Hit Point Maximum:
                    <div>Current HP:</div>
                    <hr />
                    <div>Temporary HP:</div>
                  </div>
                </div>
              </div>
              <!-- Personality & Features -->
              <div class="col-lg-4 col-md-4">
                <div class="card">
                  <div class="card-content">
                    <strong>Personality:</strong> {{activeCharacter.personality.personality}}
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <strong>Ideals:</strong> {{activeCharacter.personality.ideals}}
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <strong>Bonds:</strong> {{activeCharacter.personality.bonds}}
                  </div>
                </div>
                <div class="card">
                  <div class="card-content">
                    <strong>Flaws:</strong> {{activeCharacter.personality.flaws}}
                  </div>
                </div>

                <!-- Features -->
                <div class="card">
                  <div class="card-content">
                    Features
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
