<!DOCTYPE html>
<!-- Created by Professor Wergeles for CS4830 at the University of Missouri -->
<html>
	<head>
		<meta charset="utf-8">
		<title>Template Engine</title>
		<script>
			var TemplateEngine = {
				regexp: /{{([^{}]+)?}}/g,
				render: function(tmpl, data) {
					while(match = this.regexp.exec(tmpl)) {
						console.dir(match);

						tmpl = tmpl.replace(match[0], data[match[1]]);

						// console.log(this.regexp.lastIndex);
						// console.log(tmpl.substr(this.regexp.lastIndex));
						this.regexp.lastIndex -= match[0].length - data[match[1]].length;
						data[match[1]].length;
						// console.log(this.regexp.lastIndex);
						// console.log(tmpl.substr(this.regexp.lastIndex));
					}

					return tmpl;
				}
			};
		</script>
	</head>
	<body>
		<div id="display"></div>

		<script id="template" type="x-template">
			<h1>Hello {{fname}} {{lname}} at the University of {{university}}</h1>
		</script>

		<script>
			var me = {
				fname: "Dre",
				lname: "Shannon",
				university: "Missouri"
			};

			var display = document.getElementById("display");
			var rawTemplate = document.getElementById("template").innerHTML;
			var template = TemplateEngine.render(rawTemplate, me);

			display.innerHTML = template;
		</script>
	</body>
</html>
