<!DOCTYPE html>
<!-- Created by Professor Wergeles for CS4830 at the University of Missouri -->
<html ng-app="mvc">
  <head>
    <title>Angular MVC</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="app.css">
    <script src="planetData.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script>
      angular
        .module("mvc", [])
        .controller("planetCtrl", function($scope) {
          $scope.data = planets;
          $scope.totalPlanets = 7;

          $scope.views = ["Select One", "List", "System", "All"];

          $scope.selection = "Select One";

          $scope.getTotalPlanets = function() {
            reutrn $scope.data.length;
          }

          $scope.addMyPlanet = function() {
            $scope.data.push(
              {
                name: "Pluto",
                color: "grey",
                radius: 1189,
                satellies: 5
              }
            );
          }
        });
    </script>
  </head>
  <body>
    <div ng-controller="planetCtrl">
      <!-- ng-options="label for item in array" -->
      <select ng-model="selection" ng-options="view for view in views"></select>

      <button ng-click="addMyPlanet()">Add Pluto</button>

      <div ng-switch on="selection">
        <!-- <h2>Total Planets: {{totalPlanets}}</h2> -->
        <h2>Total Planets: {{ getTotalPlanets() }}</h2>

        <!-- List View -->
        <div ng-switch-when="list">
            <ul>
              <li ng-repeat="p in data">
                {{p.name}} has a radius of {{p.radius}}km and {{p.satellites}} satellies
              </li>
            </ul>
        </div>

      	<!-- Table View -->
        <div ng-switch-when="table">
          <table class="table">
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Radius</th>
                <th>Satellites</th>
            </tr>
            <tr ng-repeat="p in data">
                <td>{{p.name}}</td>
                <td>{{p.color}}</td>
                <td>{{p.radius}}</td>
                <td>{{p.satellies}}</td>
            </tr>
          </table>
        </div>



        <!-- System View -->
        <div ng-switch-when="system">
          <div class="planet" ng-repeat="p in data">
            <div style="width:{{p.radius / }}"></div>
            <span>{{p.name}}</span>
          </div>
        </div>

        <!-- all views -->
        <div ng-switch-when="All">
          <ul>
            <li ng-repeat="p in data">
              {{p.name}} has a radius of {{p.radius}}km and {{p.satellites}} satellies
            </li>
          </ul>
          <table class="table">
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Radius</th>
                <th>Satellites</th>
            </tr>
            <tr ng-repeat="p in data">
                <td>{{p.name}}</td>
                <td>{{p.color}}</td>
                <td>{{p.radius}}</td>
                <td>{{p.satellies}}</td>
            </tr>
          </table>
          <div class="planet" ng-repeat="pvin data">

          </div>
        </div>



      </div>
    </div>
  </body>
</html>
